{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@techassi"
  ],
  "rules": {
    "@typescript-eslint/naming-convention": "off",
    "import/named": "off"
  },
  "ignorePatterns": [
    "packages/**/dist",
    "node_modules",
    ".nuxt"
  ]
}